.component {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke
}

.menuCenter {
    width: calc(100vw - 120px);
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-color: rgb(53, 115, 118);
}

@media (max-width: 800px) {
    .menuCenter {
        width: calc(100vw - 13vw);
        height: calc(100vh - 60px);
        margin-top: 60px;
        background-color: rgb(53, 115, 118);
    }
}