.Content {
    border-radius: 20px;
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.752);
}

.selected {
    filter: blur(5px);
}


.Discount {
    position: absolute;
    font-size: 15px;
    padding: 5px 10px 5px 5px;
    font-weight: 600;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 0px 15px 0px;
    width: auto;
    height: auto;
    /* box-shadow: rgb(255, 255, 255) 5px 5px 15px; */
    font-style: italic;
}


.corner3 {
    position: absolute;
    top: 100%;
    left: 0;
    height: 15px;
    width: 15px;
    rotate: 270deg;
    background-image: radial-gradient(circle at 0% 100%, transparent 14px, white 15px);
}


.corner4 {
    position: absolute;
    left: 100%;
    top: 0;
    height: 15px;
    width: 15px;
    rotate: 270deg;
    background-image: radial-gradient(circle at 0% 100%, transparent 14px, white 15px);
}

.Like {
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 0%;
    font-size: 15px;
    padding: 5px;
    margin-right: 5px;
    color: rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
    border-radius: 0px 13px 0px 15px;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.Like:focus {
    outline: none;
}

.corner1 {
    position: absolute;
    top: 0;
    right: 100%;
    height: 15px;
    width: 15px;
    background-image: radial-gradient(circle at 0% 100%, transparent 14px, white 15px);
}

.corner2 {
    position: absolute;
    right: 0;
    top: 100%;
    height: 15px;
    width: 15px;
    background-image: radial-gradient(circle at 0% 100%, transparent 14px, white 15px);
}

.Img {
    height: 140px;
    width: 236px;
    object-fit: cover;
    /* cursor: pointer; */
    border-radius: 15px;
}

.Text>h1 {
    margin-top: -3px;
    padding-left: 7px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 230px;
}

.Text>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(109, 109, 109);
    font-size: 12px;
    max-width: 235px;
    padding-left: 7px;
    position: absolute;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */

}

.Prices {
    position: absolute;
    padding-top: 37px;

}

.Price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;

}


.strikedPrice {
    position: absolute;
    padding-left: 7px;
    margin-top: 2px;
    color: rgb(50, 50, 50);
    font-size: 14px;


}

.CartBtn {
    width: 70px;
    height: 25px;
    border: none;
    background-color: rgb(116, 219, 160);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    margin-top: -26px;
    margin-left: 167px;
    transition: all 0.4s ease;
    opacity: 100%;
    font-size: 15px;
}

.CartBtn:hover {
    box-shadow: rgb(116, 219, 160) 0px 0px 15px;

}

.CartBtn:active {
    transform: scale(0.95);
}

.CartBtn2 {
    width: 50px;
    height: 25px;
    border: none;
    background-color: rgb(255, 143, 143);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    margin-top: -26px;
    margin-left: 187px;
    transition: all 0.4s ease;
    opacity: 100%;
}

.CartBtn2:hover {
    box-shadow: rgb(255, 143, 143) 0px 0px 15px;

}

.CartBtn2:active {
    transform: scale(0.95);
}

.Content:hover .CartBtn {
    opacity: 100%;
}

.IconContainer {
    position: absolute;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.CartBtn:active .IconContainer {
    opacity: 0%;
    transition: all 0.5s ease;

}