@font-face {
    font-family: 'Real Line';
    src: url('./assets/fonts/RealLine.woff2') format('woff2');
    src: url('./assets/fonts/RealLine.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basier Square';
    src: url('./assets/fonts/BasierSquare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    background-color: black;
}


.errorBackground {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.506);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.reviewContainer {
    position: relative;
    height: 320px;
    width: 400px;
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.reviewModalContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.imgReviewContainer {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgReview {
    height: 250px;
    width: 250px;
    margin-top: -0px;
    border-radius: 20px;
}

.primaryText {
    width: 70%;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: rgb(54, 54, 54);
}

.secondaryText {
    width: 80%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: rgb(123, 123, 123);
}


.popupsContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}

@media (max-width: 600px) {
    .popupsContainer {
        margin-bottom: 10px;
        margin-right: auto;

    }

    .reviewContainer {
        scale: 0.8;
        width: 100dvw;

    }

    .imgReview {
        height: 200px;
        width: 200px;
        margin-top: -0px;
        background-color: transparent;
    }
}