.card {
    background-color: rgb(34, 34, 34);
    width: 217px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
    position: absolute;
    animation: blur 10s ease-in-out infinite;
    opacity: 0%;
}

@keyframes blur {
    0%, 100% {
        opacity: 0;
    }

    5%, 95% {
        opacity: 1;
    }
}

.header .image {
    width: 217px;
    height: 160px;
    border-radius: 20px;
    object-fit: cover;
}
