.store {
    background-color: rgb(199, 199, 199);
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow-x: hidden;
}

.menuFilters {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 250px;
    height: 100vh;
    left: -250px;
    top: 0;
    transition: all 0.5s ease-in-out;

    z-index: 9999;

}

.open {
    transform: translateX(0px);
}

.closed {
    transform: translateX(250px);
}

.button {
    position: absolute;
    right: 0;
    margin-right: -40px;
    z-index: 1000;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 80px 80px 0px;
    border: none;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
}

.hamburger {
    cursor: pointer;

}

.hamburger input {
    display: none;

}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 1.8em;
    margin-top: 3px;
    /* Define the transition for transforming the SVG */
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: rgb(116, 219, 160);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 1s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.lineTop {
    stroke-dasharray: 12 63;
}

.filterMenu {
    height: 100%;
    width: 100%;
    background-color: rgb(226, 98, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.filtersContainer {
    height: calc(100%);
    width: calc(100%);
    background-color: seagreen;
}


/* ------- CART ------- */


.menuCart {
    background-color: rgb(0, 0, 0);
    position: fixed;;
    width: 350px;
    height: 100vh;
    right: 0;
    top: 0;

    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

.cartClosed {
    transform: translateX(0px);
}

.cartOpen {
    transform: translateX(350px);
}

.button2 {
    position: absolute;
    right: 0;
    margin-right: 349px;
    z-index: 1000;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 80px 0px 0px 80px;
    border: none;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}


.IconContainer {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartCheckout {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

.foodCheckout {
    height: 80%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.foodContent {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}

.checkoutContainer {
    height: 20%;
    width: 100%;
    background-color: rgb(226, 98, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutContent {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: seagreen;
}

.checkoutPlaceholder{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataContainer{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgb(48, 48, 48);
}

.dataImg{
    border-radius: 10px;
    height: 50px;
    width: 50px;
}
.dataText{
    color: azure;
    margin-left: 10px;
    display: grid;
    background-color: blueviolet;

    min-width: 170px;

}
.dataTitle{
    max-width: 160px;

    font-weight: 600;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media (max-width: 500px) {

    .menuFilters {
        background-color: rgb(0, 0, 0);
        position: fixed;
        width: 200px;
        height: 100vh;
        left: -200px;
        top: 0;
        transition: all 0.5s ease-in-out;
    }

    .open {
        transform: translateX(0px);
    }

    .closed {
        transform: translateX(200px);
    }

    .button {
        position: absolute;
        right: 0;
        margin-right: -40px;
        z-index: 1000;
        width: 40px;
        background-color: rgb(0, 0, 0);
        border-radius: 0px 80px 80px 0px;
        border: none;
        font-size: 20px;
        height: 40px;
        margin-top: 10px;
    }

    .hamburger {
        cursor: pointer;

    }

    .hamburger input {
        display: none;

    }

    .hamburger svg {
        /* The size of the SVG defines the overall size */
        height: 1.8em;
        margin-top: 3px;
        /* Define the transition for transforming the SVG */
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: rgb(116, 219, 160);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 1s cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 1s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .lineTop {
        stroke-dasharray: 12 63;
    }

    .menuCart {
        background-color: rgb(0, 0, 0);
        position: fixed;
        width: 80%;
        height: 100vh;
        right: 0;
        top: 0;

        transition: all 0.5s ease-in-out;
    }

    .cartClosed {
        transform: translateX(0px);
    }

    .cartOpen {
        transform: translateX(100%);
    }

    .button2 {
        position: absolute;
        right: 0;
        margin-right: 99%;
        z-index: 1000;
        width: 40px;
        background-color: rgb(0, 0, 0);
        border-radius: 80px 0px 0px 80px;
        border: none;
        font-size: 20px;
        height: 40px;
        margin-top: 10px;
        cursor: pointer;
    }


    .IconContainer {
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}