.store {
    background-color: rgb(199, 199, 199);
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow-x: hidden;
}

.menuFilters {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 250px;
    height: 100vh;
    left: -250px;
    top: 0;
    transition: all 0.5s ease-in-out;

    z-index: 9999;

}

.open {
    transform: translateX(0px);
}

.closed {
    transform: translateX(250px);
}

.button {
    position: absolute;
    right: 0;
    margin-right: -40px;
    z-index: 1000;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 80px 80px 0px;
    border: none;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
}

.hamburger {
    cursor: pointer;

}

.hamburger input {
    display: none;

}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 1.8em;
    margin-top: 3px;
    /* Define the transition for transforming the SVG */
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: rgb(116, 219, 160);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 1s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.lineTop {
    stroke-dasharray: 12 63;
}

.filterMenu {
    height: 100%;
    width: 100%;
    background-color: rgb(226, 98, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.filtersContainer {
    height: calc(100%);
    width: calc(100%);
    background-color: seagreen;
}


/* ------- CART ------- */


.menuCart {
    position: fixed;
    ;
    width: 350px;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(15px) brightness(0.12);
    box-shadow: rgb(0, 0, 0) 0px 2px 50px;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

.cartClosed {
    transform: translateX(0px);
}

.cartOpen {
    transform: translateX(350px);
}

.button2 {
    position: absolute;
    right: 0;
    margin-right: 349px;
    z-index: 1000;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 80px 0px 0px 80px;
    border: none;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}


.IconContainer {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.IconContainer p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px 0px -10px -1.5px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    position: absolute;
    color: rgb(130, 220, 147);
    border-radius: 20px;
    font-weight: 1000;
    text-align: center;
}

.cartIndicator{
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    background-color: rgb(18, 18, 18);
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 20px;

}
.cartCheckout {
    height: 100%;
    width: 100%;
    background-color: rgb(19, 19, 19);
}

.foodCheckout {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}

.foodContent {
    height: calc(100% - 20px);
    width: calc(100% - 20px);

}


.foodCheckoutFade {
    height: 30px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    margin-top: -29px;
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0) 0%, rgb(0, 0, 0) 100%);


}

.foodCheckout::-webkit-scrollbar {
    display: none;
}


.checkoutContainer {
    height: 30%;
    width: 100%;
    display: grid;
    align-items: center;
}

.checkoutContent {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 0px);
    display: grid;
    color: aliceblue;

}

.checkoutPlaceholder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataContainer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.dataImg {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.dataText {
    margin-left: 10px;
    display: grid;
    width: 600px;

}

.dataTitle {
    max-width: 180px;
    font-weight: 600;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: azure;

}

.Price {
    font-weight: 600;
    color: rgb(203, 203, 203);

}

s {
    font-size: 14px;
    margin-left: 5px;
    color: rgb(156, 156, 156);
}

.actionButtons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.btnContainer {
    height: 40%;
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    color: rgb(116, 219, 160);
    border: 2px solid rgb(116, 219, 160);
    ;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(116, 219, 160);

}

.quantityIndicator {
    font-size: 18px;
}

.checkoutText {
    margin: 10px 0px 10px 0px;
}

.summary {
    font-size: 15px;
    color: whitesmoke;
}

.resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(135, 135, 135);
    font-size: 14px;

}

.total {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.priceCheckout {
    font-weight: 600;
}

.payButtonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.payButton {
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;

}

.payButton:active {
    transform: scale(0.95);

}


.payButton2 {
    border: none;
    background-color: rgb(116, 219, 160);
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;

}

.payButton2:active {
    transform: scale(0.95);

}

.clearCart{
    border: none;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.clearCart:active {
    transform: scale(0.95);

}
.checkoutPlaceholder {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 18, 18);
}

.placeholderContainer {
    margin-top: -50px;
}

.imgContainer {
    width: 250px;
    height: 250px;
    margin-left: 30px;

}

.imgCheckoutPlaceholder {
    width: 100%;
    height: 100%;

}

.checkoutPlaceholder p {
    color: aliceblue;
    font-weight: 600;
    font-size: 15px;
    text-align: center;

}

.payButtonChecked{
    border: none;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 90%;
    border-radius: 10px;
    cursor:not-allowed;
    transition: all 0.3s ease;
}

@media (max-width: 500px) {

    .menuFilters {
        background-color: rgb(0, 0, 0);
        position: fixed;
        width: 200px;
        height: 100vh;
        left: -200px;
        top: 0;
        transition: all 0.5s ease-in-out;
    }

    .open {
        transform: translateX(0px);
    }

    .closed {
        transform: translateX(200px);
    }

    .button {
        position: absolute;
        right: 0;
        margin-right: -40px;
        z-index: 1000;
        width: 40px;
        background-color: rgb(0, 0, 0);
        border-radius: 0px 80px 80px 0px;
        border: none;
        font-size: 20px;
        height: 40px;
        margin-top: 10px;
    }

    .hamburger {
        cursor: pointer;

    }

    .hamburger input {
        display: none;

    }

    .hamburger svg {
        /* The size of the SVG defines the overall size */
        height: 1.8em;
        margin-top: 3px;
        /* Define the transition for transforming the SVG */
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: rgb(116, 219, 160);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 1s cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 1s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .lineTop {
        stroke-dasharray: 12 63;
    }

    .menuCart {
        background-color: rgb(0, 0, 0);
        position: fixed;
        width: 80%;
        height: 100vh;
        right: 0;
        top: 0;

        transition: all 0.5s ease-in-out;
    }

    .cartClosed {
        transform: translateX(0px);
    }

    .cartOpen {
        transform: translateX(100%);
    }

    .button2 {
        position: absolute;
        right: 0;
        margin-right: 99%;
        z-index: 1000;
        width: 40px;
        background-color: rgb(0, 0, 0);
        border-radius: 80px 0px 0px 80px;
        border: none;
        font-size: 20px;
        height: 40px;
        margin-top: 10px;
        cursor: pointer;
    }


    .IconContainer {
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}