.pantalla {
    width: 100vw;
    height: 200vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: 4;
    position: fixed;

}

.store {
    background-color: rgb(199, 199, 199);
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.menuFilters {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 250px;
    height: 100vh;
    left: -250px;
    top: 0;
    transition: all 0.5s ease-in-out;

    z-index: 3;

}

.open {
    transform: translateX(0px);
}

.closed {
    transform: translateX(250px);
}


.backButton>button {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: whitesmoke;
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 9999px;
    outline: 2px solid black;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    transition: all 0.2s ease
}

.backButton>button:active {
    box-shadow: 0px 0px 0px black;
    transform: translateX(4px) translateY(4px);
}

.filterSvg {

    margin-top: 6px;
    margin-left: 3px;
}

.hamburger {
    cursor: pointer;

}

.hamburger input {
    display: none;

}

/* 
.filterMenu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.filtersContainer {
    height: calc(100%);
    width: calc(100%);
}

.filterTitle {
    width: 100%;
    height: 50px;
    text-align: left;
}

.filterTitle p {
    font-size: 30px;
    font-weight: 600;
    color: rgb(130, 220, 147);
}

.filterPriceButtons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.filterPriceButtons button {
    border: 2px solid rgb(130, 220, 147);
    border-radius: 20px;
    background-color: transparent;
    color: rgb(130, 220, 147);
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    font-size: 15px;
    font-weight: 600;
}

.filterPriceButtons button:active {
    border: 2px solid rgb(130, 220, 147);
    border-radius: 20px;
    background-color: rgb(130, 220, 147);
    color: black;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    font-size: 15px;
    font-weight: 600;
} */

/* ------- CART ------- */


.menuCart {
    position: fixed;

    width: 350px;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: rgba(19, 19, 19, 0.979);
    border-radius: 15px 0px 0px 15px;
    /* box-shadow: rgb(0, 0, 0) 0px 2px 50px; */
    z-index: 3;
    transition: all 0.5s ease-in-out;
}

.cartClosed {
    transform: translateX(0px);
}

.cartOpen {
    transform: translateX(350px);
}

.buttonsContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 120px;
    background-color: whitesmoke;
    backdrop-filter: blur(10px);
    border-radius: 80px;
    border: none;
    font-size: 20px;
    height: 45px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    outline: 2px solid black;

}

.buttonsContainer>p {
    font-weight: 300;
    color: rgb(204, 204, 204);

}

.button2 {
    aspect-ratio: 1/1;
    height: 100%;
    background-color: rgb(24, 62, 28);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}


.IconCartContainer {
    margin-left: -0.3px;
    margin-top: -3px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}


.cartIndicator {
    top: 0;
    right: 0;
    margin-right: -10px;
    margin-top: -6px;
    color: black;
    height: 16px;
    width: 16px;
    position: absolute;
    border-radius: 20px;
    background-color: whitesmoke;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid rgb(24, 62, 28);
}


.IconUserContainer {
    margin-top: -92px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.userImgContainer {
    /* margin-top: -2px; */
    height: 37px;
    border-radius: 50px;
    background-color: rgb(214, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: relative;
    cursor: pointer;
    border: none;
}

.userImgContainer>img {
    height: 100%;
    width: 100%;
    border: 2px solid black;
}


.dropdownIndicator {
    position: absolute;
    height: auto;
    width: auto;
    left: 100%;
    margin-left: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    padding: 2px;
    margin-top: 22px;
}


.dropdownContainer {
    position: absolute;
    width: 200px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    margin-left: -165px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dropdownOption {
    width: 100%;
    height: 38px;
    background-color: rgb(220, 220, 220);
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    transition: all 0.25s ease;
    border: none;

}

.dropdownOption:hover {
    background-color: rgb(207, 207, 207);
}

.dropdownOptionsText {
    font-weight: 600;
    font-size: 15px;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdownOptionsIcon {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.divider {
    width: 100%;
    height: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.cartCheckout {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.cartCheckout>header {
    position: relative;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartCheckout>header>p {
    font-weight: 600;
    color: rgb(190, 190, 190);
    font-size: 20px;
}

.cartCheckout>header>button {
    position: absolute;
    left: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: rgb(189, 189, 189);
    background-color: transparent;
}

.foodCheckout {
    height: 62%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}

.foodContent {
    height: calc(100% - 20px);
    width: calc(100% - 20px);

}


.foodCheckoutFade {
    height: 30px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    margin-top: -29px;
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0) 0%, rgb(0, 0, 0) 100%);


}

.foodCheckout::-webkit-scrollbar {
    display: none;
}


.checkoutContainer {
    height: 30%;
    width: 100%;
    display: grid;
    align-items: center;
}

.checkoutContent {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 0px);
    display: grid;
    color: aliceblue;

}

.checkoutPlaceholder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;

}

.dataContainer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.dataImg {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.dataText {
    margin-left: 10px;
    display: grid;
    width: 600px;

}

.dataTitle {
    max-width: 180px;
    font-weight: 600;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: azure;

}

.Price {
    font-weight: 600;
    color: rgb(203, 203, 203);

}

s {
    font-size: 14px;
    margin-left: 5px;
    color: rgb(156, 156, 156);
}

.actionButtons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.btnContainer {
    height: 40%;
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(116, 219, 160);
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(42, 79, 58);
    font-weight: 600;

}

.quantityIndicator {
    font-size: 18px;
    color: rgb(42, 79, 58);
    font-weight: 600;

}

.checkoutText {
    margin: 10px 0px 10px 0px;
}

.summary {
    font-size: 15px;
    color: whitesmoke;
}

.resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(135, 135, 135);
    font-size: 14px;

}

.total {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.priceCheckout {
    font-weight: 600;
}

.payButtonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.payButton {
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;

}

.payButton:active {
    transform: scale(0.95);

}


.payButton2 {
    border: none;
    background-color: rgb(116, 219, 160);
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;

}

.payButton2:active {
    transform: scale(0.95);

}

.clearCart {
    border: none;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.clearCart:active {
    transform: scale(0.95);

}

.checkoutPlaceholder {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 18, 18);
}

.placeholderContainer {
    margin-top: -50px;
}

.imgContainer {
    width: 250px;
    height: 250px;
    margin-left: 30px;

}

.imgCheckoutPlaceholder {
    width: 100%;
    height: 100%;

}

.checkoutPlaceholder p {
    color: aliceblue;
    font-weight: 600;
    font-size: 15px;
    text-align: center;

}

.payButtonChecked {
    border: none;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
    width: 90%;
    border-radius: 10px;
    cursor: not-allowed;
    transition: all 0.3s ease;
}

.smallViewportCartButton {
    position: fixed;
    padding: 5px 5px;
    background-color: whitesmoke;
    border-radius: 90px;
    border: none;
    color: rgb(0, 0, 0);
    outline: 2px solid black;
    font-weight: 600;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    bottom: 0;
    z-index: 3;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

    box-shadow: 5px 5px 0px black, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.smallViewportCartButton>div {
    aspect-ratio: 1/1;
    height: 25px;
    background-color: rgb(24, 62, 28);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.smallViewportCartButton>p {
    margin-right: 5px;
}

@media (max-width: 500px) {

    .menuCart {
        background-color: rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .cartClosed {
        transform: translateY(0%);
    }

    .cartOpen {
        transform: translateY(100%);
    }

    .buttonsContainer {
        width: 45px;
        box-shadow: 0px 0px 0px black;
        scale: 0.8;
        margin-top: 10px;
        margin-right: 10px;

    }

    .IconCartContainer {
        margin-left: 0px;
        margin-top: -2.5px;
        /* background-color: red; */

        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
    }

    .userImgContainer {
        margin-left: -6px;
        height: 47px;
        width: 47px;
        border: none;
        outline: none;
    }

    .dropdownIndicator {
        margin-left: -20px;
        margin-top: 35px;
        padding: 3px;
    }

    .bottomShadow {
        position: absolute;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        background-image: linear-gradient(to top, rgb(34, 34, 34), transparent);
        z-index: 2;
    }

    .dropdownContainer {
        /* scale: 0.8; */
        margin-left: -160px;
        margin-top: 15px;
    }

    .backButton>button {
        scale: 0.85;
        margin-top: 10px;
        margin-left: 10px;
        z-index: 3;
    }

    .cartIndicator {
        scale: 0.8
    }
}