.button svg {
    background-color: rgb(30, 30, 30);
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
}