.Content {
    margin-top: 10px;
    border-radius: 20px;
    height: 120px;
    width: 82%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgb(64, 64, 64) 0px 0px 25px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.TextAndPrices {
    padding: 5px;
    display: grid;
    height: 100%;
    width: 50%;
    justify-content: space-between;

}

.Discount {
    position: absolute;
    font-size: 15px;
    padding: 5px;
    font-weight: 600;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 14px 0px 15px 0px;
    width: auto;
    height: auto;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    font-style: italic;
}



.Img {
    height: 100%;
    width: 25%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px;
}

.Text>h1 {
    padding-left: 7px;
    font-size: 15px;
    color: rgb(42, 42, 42);
    /* max-width: 210px; */
    background-color: transparent;
}

.Text>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(116, 116, 116);
    font-size: 12px;
    padding-left: 7px;
    max-width: 320px;
    width: 320px;
}

.Prices {
    height: 25px;
    display: flex;
    justify-content: safe;
    align-items: end;
    margin-top: 15px;
}

.Price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.strikedPrice {
    padding-left: 7px;
    margin-top: 3px;
    color: rgb(50, 50, 50);
    font-size: 14px;
}



.buttonSeparator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    margin-right: 10px;
    transition: all 0.4s ease;
    border-left: 1.5px solid rgb(176, 176, 176);

}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    margin-right: 10px;
    transition: all 0.4s ease;
}

.CartBtn {
    font-size: 15px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: rgb(116, 219, 160);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    transition: all 0.4s ease;
    opacity: 100%;
}

.CartBtn:hover {
    box-shadow: rgb(116, 219, 160) 0px 0px 35px;

}

.CartBtn2 {
    width: 50px;
    height: 35px;
    border: none;
    background-color: rgb(255, 143, 143);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.4s ease;
    opacity: 100%;
    position: absolute;
}

.CartBtn2:hover {
    box-shadow: rgb(255, 143, 143) 0px 0px 35px;

}


.Like {
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    color: rgb(210, 210, 210);
    background-color: transparent;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.Content:hover .CartBtn {
    opacity: 100%;
}

.IconContainer {
    position: absolute;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CartBtn:active .IconContainer {
    opacity: 0%;
    transition: all 0.5s ease;
}

@media (max-width: 750px) {
    .Content {
        border-radius: 20px;
        height: 120px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(255, 255, 255);
        box-shadow: rgb(64, 64, 64) 0px 0px 25px;
        transition: all 0.2s ease-in-out;

    }

    .Text>h1 {
        max-width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .Discount {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .Text>h1 {
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .buttonContainer {
        padding: 0;
        margin: 0;
        width: 1000px;
        display: flex;
        align-items: start;
        justify-content: end;
    }

    .Like {
        position: absolute;
    }

    .CartBtn {
        position: absolute;
        right: 4.8%;
        width: 80px;
        height: 25px;
        transition: all 0.4s ease;
    }

    .CartBtn2 {
        width: 50px;
        height: 25px;
        border: none;
        background-color: rgb(255, 143, 143);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 600;
        position: absolute;
        right: 4.8%;
        transition: all 0.4s ease;
        opacity: 100%;
    }



    .buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 190px;
        margin-right: 10px;
        transition: all 0.4s ease;
        margin-top: 35px;
    }
}

@media (max-width: 350px) {
    .Text>h1 {
        max-width: 210px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}

@media (max-width: 450px) {
    .Text>p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(116, 116, 116);
        font-size: 12px;
        max-width: 300px;
        padding-left: 7px;
        max-height: 32px;
        overflow: hidden;
    }
}

@media (max-width: 400px) {
    .Text>p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(116, 116, 116);
        font-size: 12px;
        max-width: 250px;
        padding-left: 7px;
        max-height: 32px;
        overflow: hidden;
    }
}

@media (max-width: 350px) {
    .Text>p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(116, 116, 116);
        font-size: 12px;
        max-width: 210px;
        padding-left: 7px;
        max-height: 32px;
        overflow: hidden;
    }
}


@media (max-width: 850px) {
    .buttonSeparator {
        display: none
    }

}