.card {
    display: flex;
    justify-content:center;
    height: 60px;
    width: 100%;
}

.card svg {
    position: absolute;
    display: flex;
    width: 25px;
    height: 40px;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.card .socialLink2, .card .socialLink3, .card .socialLink4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

.card .socialLink2:hover {
    opacity: 50%
}

.card .socialLink3:hover {
    opacity: 50%
}

.card .socialLink4:hover {
    opacity: 50%
}