.form {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.title {
    text-align: center;
}

.label {
    color: rgb(96, 96, 96);
    font-size: 14px;
    display: flex;
    justify-content: space-between;

}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    background-image: url(https://images.unsplash.com/photo-1613274554329-70f997f5789f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    filter: brightness(50%);
    animation: move 60s linear infinite;
}

@keyframes move {
    0% {
        background-position: center -750px;
    }

    50% {
        background-position: center -1150px;
    }

    100% {
        background-position: center -750px;

    }
}


.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    min-width: 300px;
    min-height: 500px;
    max-height: 500px;
    border-radius: 20px;
    color: rgb(31, 31, 31);
    background-size: cover;
    background-position: center center;
    background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    height: 80vh;
    width: 32vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
}

.inputForm {
    border: 1.5px solid rgb(199, 199, 199);
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
}

.inputFormError {
    border: 1.5px solid rgb(255, 137, 137);
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 340px;
}

.inputError {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 340px;
}

.inputError::placeholder {
    color: rgb(255, 137, 137);
}

.inputError:focus, .input:focus {
    outline: none;
}
.input:focus {
    outline: none;
}

.input:focus::placeholder {
    transition: all 0.7s ease;
    transform: translateX(20px);
    opacity: 0%;
}

.input:not(:focus)::placeholder {
    transition: all 0.7s ease;
    transform: translateX(0);
    opacity: 100%;
}

.inputForm:focus-within {
    border: 1.5px solid rgb(30, 30, 30);
}

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px;
    justify-content: space-between; */
}

.flexRow>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: rgb(0, 26, 255);
    font-weight: 500;
    cursor: pointer;
}

.span:hover {
    text-decoration: underline rgb(0, 34, 255);
}

.errors {
    font-size: 14px;
    margin-left: 5px;
    color: rgb(29, 29, 29);
    font-weight: 500;
}

.buttonSubmit {
    margin: 5px 0 5px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmitLoading {
    margin: 5px 0 5px 0;
    background-color: #333333;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: default;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: -0px 0;
}

.btn {
    margin-top: 40px;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    gap: 10px;
    border: 1.5px solid #b4b4b4;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btnSvg {
    transition: all 0.2s ease-in-out;
}


.svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgCard {
    position: absolute;
    font-size: 14px;
    margin-top: -90px;
    margin-left: -140px;
    background-color: #b4b4b4;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.svg:hover .svgCard {
    visibility: visible;
}

@media (max-width: 1000px) {
.btn{
    width: 100%;
}
}