.background{
    background-image:url(https://images.unsplash.com/photo-1525498128493-380d1990a112?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      width: 100vw;
      height: auto;
      animation: background 720s linear infinite
  }

  @keyframes background {
    0% {
        background-position-y: 0px;
    }
    50% {
        background-position-y: -1400px;
    }
    100% {
        background-position-y: 0px ;
    }
  }