@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

nav {
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    z-index: 0;
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    margin: auto;
}

.menu {
    backdrop-filter: blur(10px) brightness(0.9);
    width: 35%;
    height: 40px;
    border-radius: 40px;
    display: flex;
    padding: 5px;
    gap: 10px;
    min-width: 300px;
}

.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:active {
    transform: scale(0.95);
}
.buttonChecked {
    background-color: rgb(116, 219, 160);
}

.input {
    border: none;
    display: block;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    height: 30px;
    width: 70px;
    border-radius: 40px;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin-left: auto;
    background-color:whitesmoke;

    text-overflow: ellipsis;
}

.input::placeholder{
    color: black;
    font-weight: 600;
}
.input:focus {
    background-color:  rgb(116, 219, 160);
    color: rgb(0, 0, 0);
    outline: none;
    width: 80%;
}

.inputFocus {
    border: none;
    display: block;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    height: 30px;
    border-radius: 40px;
    transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin-left: auto;
    background-color:  rgb(116, 219, 160);
    text-overflow: ellipsis;
    color: rgb(0, 0, 0);
    outline: none;
    width: 80%;
}

@media (max-width: 500px) {
    nav {
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: 0;
    }

    nav .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 200px;
        margin: auto;
    }

    .menu {
        width: 35%;
        height: 40px;
        border-radius: 40px;
        display: flex;
        padding: 5px;
        gap: 10px;
        min-width: 200px;
    }

    .button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px 0px 10px;
        font-weight: 600;
        height: 30px;
        border-radius: 40px;
        cursor: pointer;
        transition: all 0.2s ease;
    }


    .buttonChecked {
        background-color: rgb(116, 219, 160);
    }

    .input {
        border: none;
        display: block;
        justify-content: center;
        padding: 0px 10px 0px 10px;
        font-weight: 600;
        height: 30px;
        width: 70px;
        border-radius: 40px;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        margin-left: auto;
        text-overflow: ellipsis;
       

    }


   
}