.accountComponent {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(https://res.cloudinary.com/dnrprmypf/image/upload/q_10/v1728881924/Projects%20Images/Indico/Store%20image%20backgrounds_utils/Account%20pages%20background.webp);
    background-size: cover;
    filter: brightness(0.4);

}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardSlider {
    position: absolute;
    height: 550px;
    width: 550px;
    background-color: rgb(233, 233, 233);
    z-index: 3;
    margin: -20px;
    box-shadow: 0px 0px 200px rgb(233, 233, 233);
}

.Card {
    height: 550px;
    width: 550px;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(50px) brightness(1.7);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 2px solid black;
}



.back {
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.reload {
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.Card>header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
    width: 100%;
}

.Card>header>p {
    font-weight: 600;
    font-size: 20px;
}


.Card>main {
    padding-top: 10px;
    display: flex;
    align-items: start;
    /* padding-left: 20px; */
    justify-content: start;
    flex-direction: column;
    height: 90%;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    overflow-y: scroll;
    gap: 25px;
    padding-bottom: 20px;
    position: relative;
}

.upperShadow {
    margin-right: 25px;
    z-index: 2;
    margin-top: 67px;
    position: fixed;
    top: 0;
    left: 3%;
    height: 10px;
    width: calc(100% - 40px);
    background-image: linear-gradient(to bottom, rgb(233, 233, 233), transparent);
}

.bottomShadow {
    margin-right: 25px;
    z-index: 2;
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 3%;
    height: 20px;
    width: calc(100% - 40px);
    background-image: linear-gradient(to top, rgb(233, 233, 233), transparent);
}


.Card>main::-webkit-scrollbar {
    display: block;
    height: 20px;
    width: 5px;
}

.Card>main::-webkit-scrollbar-thumb {
    background-color: rgb(209, 209, 209);
    height: 50px;

}

.Card>main::-webkit-scrollbar-thumb:hover {
    background-color: rgb(152, 152, 152);
}

.Card>main::-webkit-scrollbar-track {
    background-color: transparent;
}

.cardContainerAux {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.reviewCard {
    height: auto;
    width: 85%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    overflow: hidden;
    outline: 1px solid rgb(212, 212, 212);
    box-shadow: 0px 10px 10px rgba(66, 66, 66, 0.512);
}

.reviewCardAux {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;

}

.reviewCardAux>header {
    /* background-color: red; */
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starsContainer {
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    position: relative;
}

.stars {
    display: flex;
    align-items: center;
    position: absolute;
    left: 11.9%;
    font-size: 15px;
    display: flex;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(13, 164, 41);
    z-index: 2;
}


.fakeStars {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 15px;
    display: flex;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(219, 219, 219);
}

.stars svg {
    height: 1.2rem;
    width: 1.2rem;
}

.fakeStars svg {
    height: 1.2rem;
    width: 1.2rem;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(13, 164, 41);
    z-index: 2;
    padding-left: 2px;
}

.star svg {
    height: 1.5rem;
    width: 1.5rem;
}

.imageContainer {
    width: 33.34%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    color: rgb(195, 195, 195);
}

.imageContainer>img {
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    border: 2px solid black;
}

.dataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    height: auto;
    width: 100%;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    outline: 1px solid rgb(226, 226, 226);

}

.dataContainer>p {
    text-align: center;
    max-width: 85%;
    overflow-wrap: break-word;
}

.reviewCardAux>footer {
    width: 100%;
    height: 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: end;
}

.deleteReviewButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.deleteCheckContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    position: relative;
}

.deleteCheckContainerAux {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12%;
    position: relative;
}

.deleteCheckContainerAux>p {
    max-width: 70%;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: -15px;
}

.deleteCheckContainer>p>label {
    font-weight: 600;
}

.deleteButton {
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    /* outline: 1px solid black; */
    font-weight: 600;
    cursor: pointer;
    border: 2px solid black;
}


.errorComponent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding-right: 20px;
}

.gifContainer {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.gifContainer>img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    outline: 2px solid black;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    object-fit: cover;
    object-position: 0%;

}

.errorText {
    text-align: center;
    font-size: 20px;
}

.errorText>label {
    font-weight: 600;
}

.errorButton {
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    /* outline: 1px solid black; */
    box-shadow: 5px 5px 0px black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid black;
}

.errorButton:active {
    box-shadow: 0px 0px 0px black;
    transform: translateX(5px) translateY(5px);
}


@media (max-width: 600px) {
    .Card {
        height: 550px;
        width: 90dvw;
    }

    .date {
        font-size: 13px;
    }

    .deleteCheckContainerAux>p {
        text-align: center;
        font-size: 15px;
        max-width: 90%;
    }

    .gifContainer {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

    .errorText {
        text-align: center;
        font-size: 18px;
    }

    /* .errorButton {
        scale: 0.85;
    } */

}