.Landing {
    background-color: rgb(30, 30, 30);}

section {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: #292929;
    background-color: rgb(31, 31, 31);
    font-size: 70px;
}

.HomeSection {
    height: 100vh;
    width: 100%;
}

.RegisterSection {
    height: calc(75vh + 45px);
    width: 100%;
}
.custom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom .shapeFill {
    fill: #202020;
}

