section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #292929;
    background-color: rgb(221, 221, 221);
    font-size: 70px;
}

main {
}

.HomeSection {
    height: 100vh;
    width: 100%;
    background-color: rgb(40, 145, 117);
    object-fit: cover;
}

.ServiceSection {
    height: 100vh;
    background-color: rgb(40, 82, 145);
}

.MenuSection {
    height: 100vh;
    width: 100%;
    background-color: rgb(130, 80, 188);
}

.ReviewsSection {
    height: 100vh;
    width: 100%;
    background-color: rgb(209, 167, 100);
}

.RegisterSection {
    height: 100vh;
    width: 100%;
    background-color: rgb(209, 100, 133);
}

.button svg {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #c1c1c1;
    height: 40px;
    width: 40px;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
}

.Landing {}

.home {
    background-color: aqua;
}