@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

nav {

    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    z-index: 3000;
    transition: all 0.3s ease;


}

nav.hidden {
    transform: translateY(-100%);
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    padding: 0px 40px 0px 40px;
    z-index: 3000;

    background-color: rgba(245, 245, 245, 0.495);
    backdrop-filter: blur(10px);

}

.enterButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar .logo a {
    color: #2b2b2b;
    font-size: 30px;
    font-weight: 500;
    /* font-family: "Monas demo"; */
    font-family: "Real Line";
}

.logoImg {
    margin-right: 8px;
    margin-top: -2px;
    height: 22px;
    width: 22px;
    filter: grayscale(100%) brightness(0.3);
}

nav .navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .menu li {
    list-style: none;
    margin: 0 15px;
}

.navbar li a {
    color: rgb(32, 32, 32);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.button svg {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #c1c1c1;
    height: 40px;
    width: 40px;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
}

.Login {
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border: 2px solid rgb(30, 30, 30);
    border-radius: 20px;
    transition: all 0.3s ease;

}

.Login:hover {
    background-color: rgb(30, 30, 30);
    color: rgb(159, 229, 167);
}

.btnsnav {
    transform: scale(1);
    cursor: pointer;
}

.btnsnav:focus:after,
.btnsnav:hover:after {
    width: 100%;
    left: 0%;
}

.btnsnav:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #1f1f1f;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.navbar2 {
    display: none;
}

.userImgContainer {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    outline: solid black 2px;
    background-color: rgb(214, 214, 214);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdownContainer {
    position: absolute;
    width: 200px;
    height: 135px;
    background-color: rgb(255, 255, 255);
    margin-left: -140px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px;
    z-index: 5;
}

.dropdownOption {
    width: 100%;
    height: 38px;
    background-color: rgb(220, 220, 220);
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    transition: all 0.25s ease;
    border: none;

}

.dropdownOption:hover {
    background-color: rgb(207, 207, 207);
}

.dropdownOptionsText {
    font-weight: 600;
    font-size: 15px;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdownOptionsIcon {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.divider {
    width: 100%;
    height: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
}


.dropdownContainer2 {
    width: 200px;
    height: 48px;
    background-color: rgb(0, 0, 0);
    margin-left: -5px;
    margin-top: -15px;
    border-radius: 15px;
    padding: 5px;
    z-index: -4;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;

}

.dropdownContainer2:hover {
    transform: scale(0.9)
}

/* - - - - - - - - - - - - -- - - - - - -  */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    transform: scale(0.6);
    transition: all 0.5s ease;
    z-index: 2;
}

.burger:active {
    transform: scale(0.5);

}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}


.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}


.menuSmall {
    z-index: 0;
    margin-left: -180px;
    margin-top: -40px;
    width: 250px;
    height: 101vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    align-items: center;
    justify-content: center;
    gap: 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.4s ease-in-out;
    transform: translateX(300px);

}

.open {
    transform: translateX(0px);
}

.closed {
    transform: translateX(300px);
}

.btnsnav2 {
    transform: scale(1);
    cursor: pointer;
    color: rgb(234, 234, 234);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.btnsnav2:focus:after,
.btnsnav2:hover:after {
    width: 100%;
    left: 0%;
}

.btnsnav2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #e1e1e1;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.Login2 {
    background-color: rgb(30, 30, 30);
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid rgb(30, 30, 30);
    border-radius: 5px;
    color: rgb(233, 233, 233);
}

@media (max-width: 600px) {
    .userContainer {
        margin-right: 10px;
        transform: scale(0.8);

    }

    .dropdownContainer {
        margin-top: 25px;
        margin-left: -90px;
    }

    .navbar2 {
        display: block;
    }

    nav .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-width: 100%;
        padding: 0px 10px 0px 10px;

        backdrop-filter: blur(30px);

    }

    .navbar li a {
        display: none;
    }
}